.switch {
  width: 250px;
  height: 60px;
  background-color: #333;
  display: flex;
  justify-content: flex-start;
  border-radius: 40px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .switch {
    width: 200px;
    height: 50px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 576px) {
  .switch {
    width: 100%;
    height: 40px;
    justify-content: space-between;
  }
  .switch[customWidth="yeah"]{
    width: 165px;
  }
}

.switch[data-isOn="true"] {
  justify-content: space-between;
}

.handle {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 40px;
}