@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir Next Cyr";
  src: url('/fonts/avenir-next-cyr-medium.ttf');
}

@font-face {
  font-family: "Avenir Thin";
  src: url('/fonts/AvenirNextCyr-Thin.ttf');
}

@font-face {
  font-family: "Avenir Light";
  src: url('/fonts/avenirnextcyr-light.ttf');
}
html{
  overflow-x: hidden;
}
body{
  background: #f3f3f3;
  overflow-x: hidden;
}

input::placeholder {
  font-weight: 400;
}

.wave-btn{
  position: relative;
  z-index: 2;
}

.wave-btn::before, 
.wave-btn::after{
  position: absolute;
  width: 80%;
  height: 100%;
  content: "";
  display: block;
  border-radius: inherit;
  top: 0;
  right: 0;
  left: 10%;
  bottom: 0;
  transform: scale(0);
  transform-origin: center;
  -webkit-backface-visibility: hidden;
  z-index: -1;
  border: 1px solid #333;
}
.wave-btn::before{
  animation: wave-animate 2s infinite ease-out;
}
.wave-btn::after{
  opacity:0;
  animation: wave-animate 2s 0.5s infinite ease-out;
}

.wave-btn:focus{
  outline:none !important;
}

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.2;
  }
}